*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("bg-img.jpeg");
    color: white;
    font-family: 'Quicksand', sans-serif;;
}

.dis{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

h1{
    text-align: center;
    margin-top: 250px;
    font-size: 3.5rem;
}

img{
    height: 100px;
    margin-top: 220px;
    margin-left: 20px;
}

h2{
    text-align: center;
    margin-top: 40px;
    margin-left: -50px;
    letter-spacing: 5px;
    font-family: 'Quicksand', sans-serif;
    
}